In [1]:
from __future__ import print_function
import sys
from operator import add
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.getOrCreate()

## Schema

In [3]:
schema1 = StructType([
    StructField("f1", StringType(), True),
    StructField("f2", StringType(), True),
    StructField("f3", DoubleType(), True),
    StructField("f4", StringType(), True),
    StructField("f5", DoubleType(), True),
    StructField("f6", DoubleType(), True),
    StructField("f7", DoubleType(), True),
    StructField("f8", DoubleType(), True),
    StructField("f9", DoubleType(), True),
    StructField("f10", StringType(), True),
    StructField("f11", StringType(), True),
    StructField("f12", StringType(), True),
    StructField("f13", StringType(), True),
    StructField("f14", StringType(), True),
    StructField("f15", StringType(), True),
    StructField("f16", StringType(), True),
    StructField("f17", StringType(), True),
    StructField("f18", StringType(), True),
    StructField("f19", StringType(), True),
    StructField("f20", StringType(), True),
    StructField("f21", StringType(), True),
    StructField("f22", StringType(), True),
    StructField("f23", StringType(), True)])

In [5]:
df_read = spark.read \
 .option("delimiter", "\t") \
 .schema(schema1) \
 .option("inferSchema", "True") \
 .csv("youtubedata.txt")
df_read.createOrReplaceTempView("youtube_data")

In [6]:
df_read.printSchema()

root
 |-- f1: string (nullable = true)
 |-- f2: string (nullable = true)
 |-- f3: double (nullable = true)
 |-- f4: string (nullable = true)
 |-- f5: double (nullable = true)
 |-- f6: double (nullable = true)
 |-- f7: double (nullable = true)
 |-- f8: double (nullable = true)
 |-- f9: double (nullable = true)
 |-- f10: string (nullable = true)
 |-- f11: string (nullable = true)
 |-- f12: string (nullable = true)
 |-- f13: string (nullable = true)
 |-- f14: string (nullable = true)
 |-- f15: string (nullable = true)
 |-- f16: string (nullable = true)
 |-- f17: string (nullable = true)
 |-- f18: string (nullable = true)
 |-- f19: string (nullable = true)
 |-- f20: string (nullable = true)
 |-- f21: string (nullable = true)
 |-- f22: string (nullable = true)
 |-- f23: string (nullable = true)

In [18]:
df1 = spark.sql('''select f1 as vdo_id, f2 as vdo_uploader, f3 as vdo_interval, f4 as vdo_category, f5 vdo_length, f6 as vdo_views, f7 as vdo_rating, f8 as vdo_num_rating , f9 as vdo_comm, f10  as vdo_rel_id from youtube_data''')

df1.createOrReplaceTempView("data")
df1.printSchema()

root
 |-- vdo_id: string (nullable = true)
 |-- vdo_uploader: string (nullable = true)
 |-- vdo_interval: double (nullable = true)
 |-- vdo_category: string (nullable = true)
 |-- vdo_length: double (nullable = true)
 |-- vdo_views: double (nullable = true)
 |-- vdo_rating: double (nullable = true)
 |-- vdo_num_rating: double (nullable = true)
 |-- vdo_comm: double (nullable = true)
 |-- vdo_rel_id: string (nullable = true)

top categories with the maximum number of videos uploaded

In [19]:
df2 = spark.sql('''select vdo_category, COUNT(vdo_category) category_count from 
data group by vdo_category order by category_count DESC''')
df2.show()

+--------------------+--------------+
|        vdo_category|category_count|
+--------------------+--------------+
|       Entertainment|           908|
|               Music|           862|
|              Comedy|           414|
|      People & Blogs|           398|
|     News & Politics|           333|
|    Film & Animation|           260|
|              Sports|           251|
|       Howto & Style|           137|
|     Travel & Events|           112|
|      Pets & Animals|            95|
|Science & Technology|            80|
|    Autos & Vehicles|            77|
|           Education|            65|
|Nonprofits & Acti...|            42|
|                UNA |            32|
|                null|             0|
+--------------------+--------------+

fetch videos with decreasing order of there rating

In [24]:
df3 = spark.sql(''' select distinct vdo_id,vdo_rating from data order by vdo_rating desc
''')
df3.show()

+-----------+----------+
|     vdo_id|vdo_rating|
+-----------+----------+
|jIuCA4RRtXE|       5.0|
|Zs4H9Itl40c|       5.0|
|Bdvhh1GDfW4|       5.0|
|ZEDYzwdqHrU|       5.0|
|cvd-OyHm9lE|       5.0|
|pWOMN2neHdg|       5.0|
|sGEkP1F-tgQ|       5.0|
|RN-CQVhgRDc|       5.0|
|Y_hAXbgxXp8|       5.0|
|8Kg_Hxbt-kU|       5.0|
|GfHs7xrPRsE|       5.0|
|goJJE3PqTnk|       5.0|
|a8Ist4c9S3Q|       5.0|
|smGcj6vohLs|       5.0|
|5R5oh8AIguE|       5.0|
|tI9guk2C3P8|       5.0|
|Kj7LkIXS4dw|       5.0|
|nMdp_QiA62E|       5.0|
|NdQgIVkMINc|       5.0|
|m7-ScnsMQek|       5.0|
+-----------+----------+
only showing top 20 rows

find videos with the maximum number of comments.

In [28]:
df4 = spark.sql(''' select vdo_id, vdo_comm comments from data order by vdo_comm desc''')
df4.show()

+-----------+--------+
|     vdo_id|comments|
+-----------+--------+
|kHmvkRoEowc|259683.0|
|EwTZ2xpQwpA|129200.0|
|4DC4Rb9quKk| 50036.0|
|Qit3ALTelOo| 39418.0|
|UW_1CvDFYVg| 33543.0|
|rZBA0SKmQy8| 30666.0|
|GfPJeDssBOM| 29786.0|
|irp8CNj9qBI| 29330.0|
|eBGIQ7ZuuiU| 29160.0|
|LTxO_pgMqys| 26192.0|
|yGMKgLRU-3c| 25155.0|
|LU8DDYz68kM| 24004.0|
|HPPj6viIBmU| 22567.0|
|2x2W12A8Qow| 21323.0|
|3QL97xldoXc| 19461.0|
|edLR8fj6roo| 19161.0|
|Rp198k984Yw| 18443.0|
|Md6rURKhZmA| 17731.0|
|EBM854BTGL0| 17602.0|
|-hXKRilPNpc| 17000.0|
+-----------+--------+
only showing top 20 rows